<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiveTelop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <LiveTelop.Properties.Settings>
            <setting name="F1State" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="F1Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="F1Size" serializeAs="String">
                <value>1282, 114</value>
            </setting>
            <setting name="beta_status" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eew_forecast" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="eew_warning" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="eew_demo_forecast" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eew_demo_warning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="telop_scrollspeed" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="color_pattern" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="layout_pattern" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="error_report" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="time_second" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="time_digital" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eew_text" serializeAs="String">
                <value>■ 緊急地震速報 {alertflg}第{reportnum}報  ■ {time:d}日{time:H}時{time:m}分ごろ、{regionname}で最大震度{calcintensity}と推定される地震が発生した模様です。震源の深さは、{depth}、マグニチュードは{magunitude}と推定されます。</value>
            </setting>
            <setting name="telop_level_s" serializeAs="String">
                <value />
            </setting>
            <setting name="bouyomi" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bouyomi_speed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="bouyomi_pitch" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="bouyomi_volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="bouyomi_type" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="bouyomi_ip" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="bouyomi_port" serializeAs="String">
                <value>50080</value>
            </setting>
            <setting name="eew_forecast_wav" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="eew_warning_wav" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="eew_form" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="eew_form_time" serializeAs="String">
                <value>30</value>
            </setting>
        </LiveTelop.Properties.Settings>
    </userSettings>
</configuration>